/* ex1.css */

body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    /* overflow: hidden; */
    /* width: 100%;
    height: 100%; */
    color: #ffffff;
    font-family: Arial, sans-serif;
  }

  #titleContainer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  
  #subheadContainer {
    background-color: #1f1f1f;
    align-items: center; /* Align items at the start of the flex container */
    display: flex;
  }

  .content-wrapper {
    flex-grow: 1; /* Allow the subhead to grow and fill the available space */
  }

  #subhead {
    flex-grow: 1; /* Allow the subhead to grow and fill the available space */
  }

  #pyramidContainer {
    background-color: #1f1f1f;
    color: #7200a7b6;
    flex-grow: 1; /* Allow the subhead to grow and fill the available space */
    flex-direction: column;
  }

  #infoBox {
    background-color: #1f1f1f;
    color: #4fd80fbb;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px; 
  }
  
  #canvasContainer {
    background-color: #1f1f1f;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #fractalCanvas {
    /* background-color: #000000; */
    /* display: block; */
    width: 100%;
    height: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  