/* ex1.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #bannerContainer {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #bannerOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('resources/banner1.png');
    background-size: cover;
    filter: brightness(55%);
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* opacity: 0.5; */
    z-index: 0; 
  }

  #titleContainer {
    /* background-color: #1f1f1f; */
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1; 
    /* These two affect the visibility of pryamidContainer
    margin: 0;
    padding: 0; */
  }
  
  #subheadContainer {
    /* background-color: #1f1f1f; */
    align-items: center; 
    display: flex;
  }

  #subhead {
    flex-grow: 1;
  }

  #pyramidContainer {
    /* background-color: #1f1f1f; */
    color: #7200a7cc;
    /* color: #1f1f1f; */
    flex-grow: 1; 
    flex-direction: column;
  }

  #infoBox {
    background-color: #1f1f1f65;
    display: none;
    color: #4fd80fbb;
    padding: 0px;
    text-align: center;
    text-justify: auto;
  }
  
  #canvasContainer {
    /* background-color: #1f1f1f; */
    background-image: url('resources/kaonashi.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(100%); */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    /* position: relative;  */
  }

  #fractalCanvas {
    background-color: #1f1f1f;
    /* background-color: #1f1f1fe5; */
    opacity: 0.9;
    /* without display: block, the canvasContainer sticks out below the canvas by a hair */ 
    display: block; 
    width: 100%;
    height: 100%;
  }